// ===主题色
$theme-color: #cc0001;
// ===辅色(深红)
$theme-fu_darkred: #b20001;
// ===辅色(黄)
$theme_fu_yellow: #ffcc00;
// ===白色
$white-color: #fff;
// ===绿色
$green-color: #009966;
// ===边框颜色
$border-color: #ddd;
//  ===背景色
$background-color: #666;
//  ===字体颜色
$font-color: #333;
// ===蓝色
$blue-color: #0065cb;
$login-nav-bg: #252324;


//管理员
//  ===主题色
$admin-theme-color: #409EFF;
$admin-theme-fudarkred: #2667d6;
